.contacts-info {
    padding-top: 80px;
    padding-bottom: 120px;
    background-color: var(--color-athens);

    @include minitablet {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include mobile {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__list {
        --contacts-gap: 120px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: calc(var(--contacts-gap) * 2);
        margin-bottom: 120px;

        @include minidesk {
            --contacts-gap: 30px;
        }

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include minitablet {
            --contacts-gap: 25px;
            margin-bottom: 60px;
        }

        @include mobile {
            --contacts-gap: 15px;
            margin-bottom: 40px;
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__item {
        position: relative;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-dark);

        &:not(:last-child) {
            &::after {
                content: "";
                position: absolute;
                right: calc(-1 * var(--contacts-gap));
                top: 0;
                width: 1px;
                height: 100%;
                background-image: url("../images/divider.svg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

                @include mobile {
                    background-image: none;
                }
            }
        }
    }
    &__subtitle {
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        margin: 0;
        margin-bottom: 24px;

        @include mobile {
            font-size: 22px;
            line-height: 36px;
            margin-bottom: 15px;
        }
    }
    &__address {
        font-style: normal;
        margin-bottom: 7px;
    }
    &__link {
        display: inline-block;
        text-decoration-line: underline;
        color: var(--color-primary);
        margin-bottom: 19px;
        transition: color 0.3s ease-in-out;
        &:focus {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
        }
        &:hover {
            color: var(--color-active);
        }
        &:active {
            color: var(--color-active);
        }
    }
    &__element {
        color: var(--color-storm);
        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }
    &__value {
        font-size: 16px;
        line-height: 160%;
        color: var(--color-dark);
        transition: color 0.3s ease-in-out;
        &:focus {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
        }
        &:hover {
            color: var(--color-primary);
        }
        &:active {
            color: var(--color-active);
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        .social__link {
            width: 32px;
            height: 32px;
            svg {
                fill: var(--color-storm);
            }
            svg:hover {
                fill: var(--color-primary);
                transition: fill 0.3s ease-in-out;
            }
        }
        .social__item {
            &:not(:last-child) {
                margin-right: 24px;
            }
        }
    }
    &__soc {
        margin-bottom: 40px;

        @include mobile {
            margin-bottom: 25px;
        }
    }
}
