.footer {
    padding: 80px 0;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--color-dark);

    @include minitablet {
        padding: 60px 0;
    }

    @include mobile {
        padding: 40px 0;
    }

    &__left {
        grid-column: 7 span;

        @include mobile {
            grid-column: 4 span;
        }
    }
    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 23px;

        @include mobile {
            display: block;
        }
    }
    &__logo {
        margin-right: 60px;
        min-width: 143px;

        @include mobile {
            display: block;
            margin-bottom: 20px;
        }
    }
    &__descr {
        margin: 0;
        max-width: 495px;
        font-size: 14px;
        line-height: 150%;
        color: var(--color-light);
        opacity: 0.6;
    }
    &__form {
        grid-column: 5 span;

        @include minitablet {
            grid-column: 12 span;
        }

        @include mobile {
            grid-column: 4 span;
        }
    }
    &__address {
        grid-column: 4 span;
    }
    &__nav {
        grid-column: 8 span;

        @include mobile {
            grid-column: 4 span;
        }
    }
    &__copyright {
        grid-column: 12 span;
        padding-top: 27px;
        font-size: 12px;
        line-height: 150%;
        color: var(--color-light);
        span {
            background-image: url(../images/heart.svg);
            background-position: 3px center;
            background-size: 16px 16px;
            background-repeat: no-repeat;
            padding-left: 22px;
        }

        @include mobile {
            grid-column: 4 span;
            padding: 0;
        }

    }
}

.footer-form {
    &__title {
        margin: 0;
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        color: var(--color-light);
    }
    &__items {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }
    .form-field {
        margin: 0;
        width: 364px;
    }
    .form-field__input {
        background: rgba(255, 255, 255, 0.12);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        height: 44px;
    }
    &__btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 11px 24px;
        letter-spacing: 0.5px;
        font-size: 14px;
    }
    &__descr {
        margin: 0;
        font-size: 12px;
        line-height: 150%;
        color: rgba(255, 255, 255, 0.6);
    }
}

.footer-title {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: normal;
    color: var(--color-light);
    margin-bottom: 15px;
}

.footer-address {
    padding-top: 19px;
    font-style: normal;

    @include mobile {
        padding-top: 0;
    }
    &__item {
        display: block;
        font-size: 16px;
        line-height: 160%;
        &:not(:last-child) {
            margin-bottom: 4px;
        }
        a {
            color: inherit;
            transition: color 0.3s ease-in-out;
            &:focus {
                outline: 2px solid var(--color-primary);
                outline-offset: 2px;
            }
            &:hover {
                color: var(--color-white);
            }
            &:active {
                color: var(--color-white);
            }
        }
    }
    &__name {
        color: var(--color-white);
    }
}

.footer-nav {
    display: flex;
    padding-top: 20px;
    padding-left: 54px;

    @include minitablet {
        padding-left: 14px;
    }

    @include mobile {
        padding: 0;
        display: block;
    }

    &__col {
        &:not(:last-child) {
            margin-right: 125px;

            @include minitablet {
                margin-right: 44px;
            }

            @include mobile {
                margin-bottom: 30px;
            }
        }
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }
    &__link {
        font-size: 16px;
        line-height: 160%;
        color: inherit;
        transition: color 0.3s ease-in-out;
        &:focus {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
        }
        &:hover {
            color: var(--color-white);
        }
        &:active {
            color: var(--color-white);
        }
    }
}
