.form-field {
    display: flex;
    flex-direction: column;
    justify-content: start;
    &__input {
        font-size: 14px;
        line-height: 150%;
        padding-left: 15px;
        background: var(--color-athens);
        border: 1px solid #d7dadd;
        border-radius: 4px;
        width: 260px;
        height: 44px;
        &::placeholder {
            color: #9a9ca5;
        }
        &:focus {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
        }

        &--big {
            padding-top: 10px;
            height: 66px;
            resize: none;
        }
    }
    &__caption {
        font-size: 14px;
        line-height: 150%;
        color: var(--color-gray);
        margin-bottom: 7px;
        sup {
            font-size: 14px;
            top: -2px;
        }
    }
    &--big {
        flex-grow: 1;
        .form-field__input {
            width: 100%;
        }
    }
    &--gray {
        width: 100%;
        .form-field__input {
            width: 100%;
            background-color: var(--color-athens);
        }
    }
}
