.header {
    padding: 22px 0;
    &__container {
        display: flex;
        align-items: center;

        @include tablet {
            justify-content: space-between;
        }

        .logo {
            margin-right: 60px;
            &:focus {
                outline: 2px solid var(--color-primary);
                outline-offset: 2px;
            }
            @include minidesk {
                max-width: 100px;
                margin-right: 30px;
            }

            @include tablet {
                max-width: none;
            }
        }
    }
    &--main {
        background-color: var(--color-white);
    }
    &--secondary {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.nav {
    &__list {
        display: flex;
        align-items: center;

        @include tablet {
            display: block;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: 41px;

            @include tablet {
                margin-right: 0px;
            }
        }

        @include tablet {
            margin-bottom: 30px;
        }
    }

    &__link {
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-gray);
        transform: color 0.3s ease-in-out;
        &:focus {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
        }
        &:hover {
            color: var(--color-primary);
        }
        &:active {
            color: var(--color-active);
        }
        &--current {
            color: var(--color-primary);
        }
    }

    @include tablet {
        position: fixed;
        left: 0;
        top: 0;
        padding: 50px;
        width: 80%;
        overflow-y: auto;
        height: 100vh;
        display: block;
        background-color: var(--color-white);
        z-index: 500;
        transform: translateX(-150%);
        transition: transform 0.3s ease-in-out;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    &--active {
        @include tablet {
            transform: none;
        }
    }
}

.header__nav--active {
    @include tablet {
        transform: none;
    }
}

.header-contacts {
    margin-left: auto;
    display: flex;
    align-items: center;
    &__link {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &:not(:last-child) {
            margin-right: 35px;

            @include tablet {
                margin-right: 0;
            }
        }
    }

    @include tablet {
        display: none;
    }

    &--nav {
        display: none;

        @include tablet {
            display: block;
        }
    }
}

.contacts-link {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    padding-left: 53px;
    &__caption {
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        color: var(--color-gray);
    }
    &__value {
        font-size: 18px;
        line-height: 150%;
        color: var(--color-dark);
        transition: color 0.3s ease-in-out;
        @include minidesk {
            font-size: 16px;
        }
    }
    &:focus {
        outline: 2px solid var(--color-primary);
        outline-offset: 2px;
    }
    &:hover {
        .contacts-link__value {
            color: var(--color-primary);
        }
    }
    &:active {
        .contacts-link__value {
            color: var(--color-active);
        }
    }

    &--call {
        background-image: url(../images/phone.svg);

        @include tablet {
            margin-bottom: 20px;
        }
    }
    &--mail {
        background-image: url(../images/mail.svg);
    }
}
