.hero {
    &__content {
        max-width: 590px;
    }

    &__next {
        position: absolute;
        right: 32px;
        top: 50%;
        z-index: 30;
        background-color: var(--color-white);
        transform: translateY(-50%);

        @include middledesk {
            display: none !important;
        }
    }

    &__prev {
        position: absolute;
        left: 32px;
        top: 50%;
        z-index: 30;
        background-color: var(--color-white);
        transform: translateY(-50%);

        @include middledesk {
            display: none !important;
        }
    }

    &__pag {
        counter-reset: pag;
        left: calc((100% - 1230px) / 2) !important;
        bottom: 119px !important;
        display: flex;

        @include middledesk {
            left: 3% !important;
        }

        @include minidesk {
            left: 15px !important;
        }

        @include minitablet {
            width: calc(100% - 30px) !important;
            bottom: 50px !important;
        }

        @include mobile {
            display: none;
        }

        .swiper-pagination-bullet {
            display: flex;
            flex-direction: column;
            border-radius: 0;
            width: 178px;
            height: auto;
            text-align: left;
            background-color: transparent;
            opacity: 1;

            &::before {
                counter-increment: pag;
                content: "0" counter(pag);
                font-weight: 700;
                font-size: 28px;
                line-height: 150%;
                color: rgba(#fff, 0.3);
                transition: color 0.3s ease-in-out;
            }

            &::after {
                display: none;
            }

            @include minitablet {
                width: 25%;
            }
        }
    }

    &__bar {
        position: relative;
        overflow: hidden;
        border-radius: 100px;
        width: 100%;
        height: 2px;
        background-color: rgba(#fff, 0.3);
        margin-top: 10px;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color-white);
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3 ease-in-out;
        }
    }

    &__btns {
        .btn {

            @include mobile {
                padding: 15px 25px;
            }

            &:not(:last-child) {
                margin-right: 20px;

                @include mobile {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.swiper-pagination-bullet-active {
    &::before {
        color: var(--color-white) !important;
    }

    .hero__bar {
        &::after {
            transform: scaleX(1);
            transition: transform var(--hero-slider-speed) ease-in-out;
        }
    }
}

.hero-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.hero-slide {
    padding-top: 220px;
    padding-bottom: 354px;
    background-image: url("../images/hero-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--color-gray);

    @include minitablet {
        padding-top: 200px;
        padding-bottom: 250px;
    }

    @include mobile {
        padding: 100px 0;
    }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    &:not(:last-child) {
        margin-right: 4px;
    }
}
