.page-hero {
    padding-top: 153px;
    padding-bottom: 80px;
    min-height: 600px;
    background-color: var(--color-athens);
    background-repeat: no-repeat;
    background-position: right 5px top;
    &__title {
        margin: 0;
        font-weight: 700;
        font-size: 72px;
        line-height: 130%;
        letter-spacing: 1px;
        color: var(--color-dark);
        margin-bottom: 24px;
        max-width: 600px;
        &--work-inner {
            font-size: 64px;
            line-height: 120%;
        }
        &--mb {
            margin-bottom: 59px;
        }
    }
    &__descr {
        margin: 0;
        font-size: 20px;
        line-height: 150%;
        color: var(--color-storm);
        max-width: 600px;
    }
    &__breadcrumbs {
        margin-bottom: 40px;
    }
    &--services {
        background-image: url(../images/page-hero-bg.png);
    }
    &--services-inner {
        background-image: url(../images/page-hero-services-inner-bg.png);
    }
    &--work {
        background-image: url(../images/page-hero-work-bg.png);
    }
    &--work-inner {
        background-color: var(--color-white);
        background-image: url(../images/page-hero-work-inner-bg.png);
        background-position: right 2px top 0px;
    }
    &--about {
        background-image: url(../images/page-hero-about-bg.png);
    }
    &--positions {
        background-image: url(../images/page-hero-positions-bg.png);
        background-position: right 2px bottom 0px;
    }
    &--news {
        background-image: url(../images/page-hero-news-bg.png);
        background-position: right 2px bottom 0px;
    }
}

.breadcrumbs {
    display: flex;
    align-items: center;
    &__item {
        &:not(:last-child) {
            margin-right: 22px;
            ::after {
                content: "/";
                position: absolute;
                right: -13px;
                top: -2px;
                color: #9a9ca5;
            }
        }
    }
    &__link {
        position: relative;
        font-size: 14px;
        line-height: 150%;
        color: var(--color-gray);
        &:not([href]) {
            color: #9a9ca5;
        }
    }
}
