.page-hero {
    padding-top: 153px;
    padding-bottom: 80px;
    min-height: 600px;
    background-color: var(--color-athens);
    background-repeat: no-repeat;
    background-position: right 5px top;

    @include minitablet {
        padding-top: 153px;
        padding-bottom: 160px;
        min-height: auto;
    }

    @include mobile {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &__title {
        margin: 0;
        font-weight: 700;
        font-size: 72px;
        line-height: 130%;
        letter-spacing: 1px;
        color: var(--color-dark);
        margin-bottom: 24px;
        max-width: 600px;

        @include minitablet {
            font-size: 60px;
            line-height: 75px;
        }

        @include mobile {
            font-size: 32px;
            line-height: 45px;
        }

        &--work-inner {
            font-size: 64px;
            line-height: 120%;

            @include minitablet {
                font-size: 60px;
                line-height: 75px;
            }
        
            @include mobile {
                font-size: 32px;
                line-height: 45px;
            }
        }
        &--mb {
            margin-bottom: 59px;
        }
    }
    &__descr {
        margin: 0;
        font-size: 20px;
        line-height: 150%;
        color: var(--color-storm);
        max-width: 600px;

        @include mobile {
            font-size: 16px;
            line-height: 24px;
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;

        @include mobile {
            display: block;
        }
    }
    &__meta {
        .article-meta__item {
            font-size: 16px;
            line-height: 160%;
            padding-left: 28px;
            &:first-child {
                font-weight: 700;
                color: var(--color-primary);
                padding-left: 0;
            }
            &:nth-child(2) {
                background-image: url(../images/clock.svg);
                background-position: left center;
                background-size: 20px 20px;
                background-repeat: no-repeat;
            }
            &:not(:last-child) {
                margin-right: 22px;
            }
        }
        .article-meta__item:not(:last-child)::after {
            height: 16px;
            right: -14px;
            top: 4px;
        }
        .article-meta__item--comments {
            background-size: 20px 20px;
        }

        @include mobile {
            margin-bottom: 25px;
        }
    }
    &__social {
        svg {
            fill: var(--color-storm);
        }
    }
    &__breadcrumbs {
        margin-bottom: 40px;
    }
    &--services {
        background-image: url(../images/page-hero-bg.png);
    }
    &--services-inner {
        background-image: url(../images/page-hero-services-inner-bg.png);
    }
    &--work {
        background-image: url(../images/page-hero-work-bg.png);
    }
    &--work-inner {
        background-color: var(--color-white);
        background-image: url(../images/page-hero-work-inner-bg.png);
        background-position: right 2px top 0px;

        @include minitablet {
            padding-bottom: 100px;
        }

        @include minitablet {
            padding-bottom: 60px;
        }

        @include mobile {
            padding-bottom: 0;
        }
    }
    &--about {
        background-image: url(../images/page-hero-about-bg.png);
    }
    &--post {
        .page-hero__title {
            max-width: 100%;
            font-size: 64px;
            line-height: 120%;
            text-transform: initial;
            margin-bottom: 48px;

            @include minitablet {
                font-size: 45px;
                line-height: 58px;
            }

            @include mobile {
                font-size: 32px;
                line-height: 45px;
            }
        }

        @include minidesk {
            margin-bottom: 40px;
        }
    }
    &--positions {
        background-image: url(../images/page-hero-positions-bg.png);
        background-position: right 2px bottom 0px;
    }
    &--news {
        background-image: url(../images/page-hero-news-bg.png);
        background-position: right 2px bottom 0px;
    }
    &--contacts {
        background-image: url(../images/page-hero-contacts-bg.png);
        background-position: right 2px bottom 0px;
    }

    @include tablet {
        background-image: none;
    }
}

.breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &__item {
        &:not(:last-child) {
            margin-right: 22px;

            @include mobile {
                margin-right: 15px;
            }

            ::after {
                content: "/";
                position: absolute;
                right: -13px;
                top: -2px;
                color: #9a9ca5;
            }
        }
    }
    &__link {
        position: relative;
        font-size: 14px;
        line-height: 150%;
        color: var(--color-gray);
        transition: color 0.3s ease-in-out;
        &:not([href]) {
            color: #9a9ca5;
        }
        &:focus {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
        }
        &:hover {
            color: var(--color-primary);
        }
        &:active {
            color: var(--color-active);
        }
    }
}
