.pricing {
    position: relative;
    overflow: hidden;
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #f4f5f7;
    &__decorate {
        position: absolute;
        top: 0;
        left: 3px;
    }

    @include minitablet {
        padding: 60px 0 40px 0;
    }

    @include mobile {
        padding: 40px 0;
    }
}

.table-wrapper {
    position: relative;
    z-index: 5;
    background: var(--color-white);
    border: 1px solid #e5e8ed;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05),
        0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;

    @include minitablet {
        overflow-x: auto;
    }
}

.table {
    width: 100%;
    border-collapse: collapse;
    &__heading {
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        text-align: center;
        text-transform: uppercase;
        color: var(--color-dark);
    }
    &__per {
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: var(--color-storm);
    }
    &__th {
        padding: 30px 15px 26px 15px;
        &:first-child {
            font-weight: 700;
            font-size: 18px;
            line-height: 150%;
            color: var(--color-dark);
            text-align: left;
            vertical-align: bottom;
            padding-left: 24px;
        }
    }
    &__body {
        .table__row {
            height: 58px;
            &:last-child {
                height: 99px;
            }
            &:nth-child(odd) {
                background-color: #f4f5f7;
            }
        }
    }
    &__col {
        padding: 16px 0;
        text-align: center;
        vertical-align: middle;
        .btn {
            padding: 7px 22px;
            font-size: 12px;

            @include tablet {
                padding: 7px 10px;
            }
        }
        &:first-child {
            text-align: left;
            padding-left: 24px;
        }
    }
    &__chack {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        font-size: 0;
        background-image: url(../images/mark.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__text {
        font-size: 16px;
        line-height: 160%;
        text-align: center;
        color: var(--color-gray);
    }

    @include minitablet {
        width: 800px;
    }
}
