.related-projects {
    padding: 180px 0 99px 0;
    background-color: var(--color-white);

    @include minitablet {
        padding: 60px 0;
    }

    @include mobile {
        padding: 60px 0 40px 0;
    }

    &--work-inner {
        padding: 179px 0 120px 0;

        @include minitablet {
            padding: 60px 0;
        }

        @include mobile {
            padding: 40px 0;
        }

        .related-projects-item {
            padding-bottom: 4px;

            &:hover {
                .related-projects-item__content {
                    bottom: 0;
                }
            }
            &__content {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 16px 0 23px 0;
                position: relative;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
    }
    &__top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 49px;

        @include mobile {
            margin-bottom: 30px;
            display: block;
        }
    }
    &__title {
        margin: 0;
        max-width: 710px;
        padding-bottom: 12px;
    }
    &__slider-nav {
        transform: translateX(12px);

        @include mobile {
            transform: none;
        }
    }
    &__items {
        padding-bottom: 80px;
    }
}
.slider-nav {
    display: flex;
    align-items: center;
    z-index: 5;
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        width: 48px;
        height: 48px;
        color: var(--color-gray);
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        svg {
            display: block;
            width: 24px;
            height: 24px;
            color: inherit;
            fill: currentColor;
            object-fit: cover;
        }
    }
}

.related-projects-item {
    position: relative;
    overflow: hidden;
    padding-bottom: 95px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05),
        0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    background-color: var(--color-white);
    margin: 4px;

    @include minitablet {
        padding-bottom: 182px;
    }

    &:focus {
        outline: 2px solid var(--color-primary);
        outline-offset: 2px;
    }
    &:hover {
        .related-projects-item__content {
            bottom: -4px;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px 0 23px 0;
        position: absolute;
        bottom: -70px;
        left: 0;
        right: 0;
        background-color: var(--color-white);
        transition: 0.5s ease-in-out;

        @include minitablet {
            bottom: -4px;
        }
    }
    &__title {
        margin: 0;
        margin-bottom: 5px;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: var(--color-dark);

        @include middledesk {
            font-size: 18px;
            min-height: 54px;
        }

        @include mobile {
            min-height: auto;
        }
    }
    &__descr {
        display: inline-block;
        font-size: 14px;
        line-height: 150%;
        color: var(--color-storm);
    }
    &__btn {
        display: inline-block;
        margin-top: 24px;
        justify-content: center;
        font-weight: 700;
        font-size: 14px;
        padding: 13px 31px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: var(--color-primary);
        border: 1px solid currentColor;
        border-radius: 4px;

        &:focus {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
        }
        &:hover {
            background-color: var(--color-primary);
            color: var(--color-white);
        }
        &:active {
            background-color: var(--color-active);
            color: var(--color-white);
        }
    }
}
