:root {
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #424551;
    --color-storm: #787a80;
    --color-dark: #1e212c;
    --color-primary: #ff5a30;
    --color-athens: #f4f5f7;
    --color-active: #fc3300;

    //sisez
    --grid-gap: 30px;
    //speed
    --hero-slider-speed: 500;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
}

.site-container {
    overflow: hidden;
}

.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
}

.list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}

.clearfix:after {
    display: table;
    content: "";
    clear: both;
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.btn-reset {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.btn {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 15px 39px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--color-white);
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    &--fill {
        background-color: var(--color-primary);
        &:focus {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
        }
        &:hover {
            background-color: var(--color-active);
        }
        &:active {
            background-color: var(--color-active);
        }
    }
    &--stroke {
        border-width: 1px;
        border-style: solid;
        &:focus {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
        }
        &:hover {
            background-color: var(--color-primary);
            border-color: var(--color-primary);
        }
        &:active {
            background-color: var(--color-primary);
            border-color: var(--color-primary);
        }
        &-white {
            border-color: var(--color-white);
            &:active {
                background-color: var(--color-active);
                border-color: var(--color-active);
            }
        }
        &-primary {
            border-color: var(--color-primary);
            color: var(--color-primary);
            transition: color 0.3s ease, background-color 0.3s ease-in-out;
            &:focus {
                outline: 2px solid var(--color-primary);
                outline-offset: 2px;
            }
            &:hover {
                background-color: var(--color-primary);
                color: var(--color-white);
            }
            &:active {
                background-color: var(--color-active);
                color: var(--color-white);
            }
        }
    }
}

.main-title {
    margin: 0 0 24px 0;
    font-weight: 700;
    font-size: 72px;
    line-height: 130%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-dark);

    span {
        color: var(--color-primary);
    }
    &--home {
        color: var(--color-white);
    }

    @include minitablet {
        font-size: 60px;
        line-height: 75px;
    }

    @include mobile {
        font-size: 32px;
        line-height: 45px;
    }
}

.main-descr {
    margin: 0;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-storm);
    &--home {
        margin-bottom: 60px;
        color: var(--color-white);
    }

    @include mobile {
        font-size: 16px;
        line-height: 24px;
    }
}

.title {
    margin: 0;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    margin-bottom: 25px;
    color: var(--color-dark);
    &--center {
        text-align: center;
    }

    @include mobile {
        font-size: 28px;
        line-height: 40px;
    }
}

.descr {
    font-size: 18px;
    line-height: 150%;
    margin: 0;
    margin-bottom: 60px;
    color: var(--color-storm);
    &--center {
        text-align: center;
    }

    @include mobile {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 25px;
    }
}

.center {
    text-align: center;
}

.section-offset {
    padding-top: 120px;

    @include minitablet {
        padding-top: 60px;
    }

    @include mobile {
        padding-top: 40px;
    }
}

.centered {
    width: 100%;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap);

    @include mobile {
        grid-template-columns: repeat(4, 1fr);
    }
}

//Checkbox

.custom-checkbox {
    &__input {
        opacity: 0;
        position: absolute;
    }
    &__text {
        position: relative;
        display: inline-block;
        padding-left: 28px;
        font-size: 14px;
        line-height: 150%;
        color: var(--color-gray);
    }
    &__text::before {
        content: "";
        position: absolute;
        left: -2px;
        top: 0;
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 1px solid var(--color-primary);
        border-radius: 3px;
        transition: background-color 0.3s ease-in-out;
    }
    &__text::after {
        content: "";
        position: absolute;
        left: -2px;
        top: 0;
        width: 16px;
        height: 16px;
        background-image: url(../images/check.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 10px 8px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &__input:checked + &__text::before {
        background-color: var(--color-primary);
    }
    &__input:checked + &__text::after {
        opacity: 1;
    }
    &__input:focus + &__text {
        outline: 2px solid var(--color-primary);
        outline-offset: 2px;
    }
}

//File

.custom-file {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 20px;

    &__input {
        position: absolute;
        opacity: 0;
    }

    &__text {
        position: relative;
        display: inline-block;
        padding-left: 36px;
        font-size: 14px;
        line-height: 170%;
        color: var(--color-gray);
        background-image: url("../images/file.svg");
        background-position: left center;
        background-size: 24px 24px;
        background-repeat: no-repeat;
    }

    &__input:focus + &__text {
        outline: 3px solid var(--color-primary);
    }
}

//Radio check

.custom-radio {
    &:not(:last-child) {
        margin-right: 20px;
    }
    &__input {
        opacity: 0;
        position: absolute;
    }
    &__text {
        position: relative;
        display: inline-block;
        padding-left: 29px;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-gray);
    }
    &__text::before {
        content: "";
        position: absolute;
        left: 1px;
        top: 4px;
        display: inline-block;
        width: 14px;
        height: 14px;
        border: 1px solid;
        border-color: #b3b7bc;
        border-radius: 100%;
        transition: border-color 0.3s ease-in-out;
    }
    &__text::after {
        content: "";
        position: absolute;
        left: 5px;
        top: 8px;
        width: 8px;
        height: 8px;
        background-image: url(../images/check-indicator.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 8px 8px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &__input:checked + &__text::after {
        opacity: 1;
    }
    &__input:checked + &__text::before {
        border-color: var(--color-primary);
    }
    &__input:focus + &__text {
        outline: 2px solid var(--color-primary);
        outline-offset: 2px;
    }
}

//To top

.to-top {
    display: flex;
    align-items: flex-end;
    position: fixed;
    bottom: 80px;
    right: calc((100% - 1230px) / 2);
    z-index: 50;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    &:hover {
        .to-top__icon {
            background-color: var(--color-active);
        }
    }
    &:active {
        .to-top__icon {
            background-color: var(--color-active);
        }
    }
    &--active {
        opacity: 1;
        visibility: visible;
    }
    &__text {
        font-size: 14px;
        line-height: 150%;
        color: var(--color-white);
        text-transform: uppercase;
        margin-right: 16px;
        text-shadow: 3px 3px 11px rgba(150, 150, 150, 1);
    }
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: var(--color-primary);
        border-radius: 4px;
        transition: background-color 0.3s ease-in-out;
        svg {
            width: 24px;
            height: 24px;
            object-fit: cover;
            fill: var(--color-white);
        }
    }

    @include middledesk {
        right: 20px;
        bottom: 20px;
    }
}

//Burger menu

.burger {
    --burger-width: 40px;
    --burger-height: 20px;
    --burger-line-height: 2px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 500;
    display: none;
    position: relative;
    border: none;
    padding: 0;
    width: var(--burger-width);
    height: var(--burger-height);
    color: #000;
    background-color: transparent;
    cursor: pointer;

    @include tablet {
        display: block;
    }
}
.burger::before,
.burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger::before {
    top: 0;
}
.burger::after {
    top: calc(100% - var(--burger-line-height));
}
.burger__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
}
.burger--active::before {
    top: 50%;
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger--active::after {
    top: 50%;
    transform: rotate(-45deg);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger--active .burger__line {
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}
.burger:focus::after {
    opacity: 1;
}

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 200;
    background-color: rgba(#000, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    &--active {
        opacity: 1;
        visibility: visible;
    }
}

.dis-scroll {
    position: relative;
    overflow: hidden;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

//Modal window

.site-modal {
    border-radius: 4px;
    padding: 48px;
    width: 486px;

    .form-field__input--big {
        height: 86px;
        margin-bottom: 6px;
    }

    .graph-modal__close {
        right: 24px;
        top: 24px;
        width: 24px;
        height: 24px;
        background-image: url("../images/close-modal.svg");

        @include mobile {
            right: 10px;
            top: 10px;
        }
    }

    &__caption {
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 8px;
        color: var(--color-gray);
    }

    &__title {
        margin: 0;
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        text-align: center;
        color: var(--color-ebony);
    }

    &__field {
        margin-bottom: 20px;
    }

    &__btn {
        font-weight: 700;
        font-size: 14px;
        margin-top: 20px;
        width: 100%;
        cursor: pointer;
    }

    .choices {
        width: 100%;
        border-radius: 4px;
        &__inner {
            padding: 0;
            margin: 0;
            height: 44px;
            background-color: var(--color-athens);
            border: 1px solid #d7dadd;
            border-radius: 4px;
        }
        &__placeholder {
            font-size: 14px;
            line-height: 150%;
            color: #9a9ca5;
            opacity: 1;
        }
        &__list--single {
            display: flex;
            align-items: center;
            padding-left: 15px;
            height: 100%;
        }
        &:focus {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
        }
    }

    .is-focused {
        outline: 2px solid var(--color-primary);
        outline-offset: 2px;
    }

    .is-focused {
        outline: 2px solid var(--color-primary);
        outline-offset: 2px;
    }

    .choices__list--single .choices__placeholder {
        font-size: 14px;
        line-height: 150%;
        color: #9a9ca5;
        opacity: 1;
    }

    .choices[data-type*="select-one"] .choices__inner {
        padding-bottom: 0;
    }

    .choices[data-type*="select-one"]:after {
        right: 16px;
        margin-top: 0;
        border: none;
        width: 20px;
        height: 20px;
        background-image: url("../images/angle-down.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transform: translateY(-50%);
        transition: transform 0.3s ease-in-out;
    }
    .choices[data-type*="select-one"].is-open:after {
        margin-top: 0px;
        transform: translateY(-50%) rotate(180deg);
    }

    .choices__list--dropdown .choices__item--selectable.is-highlighted,
    .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
        background-color: var(--color-athens);
    }

    .choices__list--dropdown .choices__item--selectable,
    .choices__list[aria-expanded] .choices__item--selectable {
        font-size: 14px;
        line-height: 150%;
        color: #9a9ca5;
        opacity: 1;
        height: 44px;
        display: flex;
        align-items: center;
        padding-left: 15px;
    }

    .choices__list--single .choices__item {
        font-size: 14px;
        line-height: 150%;
        color: #9a9ca5;
        opacity: 1;
    }

    @include mobile {
        padding: 20px;
        padding-top: 40px;
        width: 90%;
    }
}

.modal {
    @include mobile {
        &::before {
            display: none;
        }
    }
}
